@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Medium.ttf) format("truetype");
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/Roboto-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: white;
}

table {
  width: 100%;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border-collapse: collapse;
  table-layout: fixed;
}

table col {
  width: auto;
}

table tr {
  border-top: 1px solid #4B4B4B;
}

table tr th {
  text-align: center;
  color: #797777;
}

table tr th:first-child {
  text-align: left;
}

table tr th:first-child p {
  margin-left: 15px;
}

table tr th:last-child {
  text-align: right;
}

table tr th:last-child p {
  margin-right: 15px;
}

table tr td p {
  text-align: center;
}

table tr td img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
  margin: 0;
  margin-top: 6px;
}

table tr td:first-child {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 15px;
  text-align: left;
}

table tr td:first-child img {
  border-radius: 50%;
}

table tr td:first-child p {
  margin: 15px 0 15px 10px;
}

table tr td:last-child {
  text-align: right;
}

table tr td:last-child img {
  margin-right: 15px;
  margin-top: 9px;
}

table tr:first-child {
  border: none;
}

table tr:last-child {
  border-bottom: 1px solid #4B4B4B;
}

header {
  background-color: #202124;
  height: 63px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.header {
  height: 100%;
  margin: auto;
  max-width: 60%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__logo {
  margin: auto 0;
  color: white;
  font-size: 35px;
  font-weight: 500;
}

.header__logo span {
  color: #FFE279;
  text-shadow: 0 0 7px #FFE279, 0 0 21px #FFE279;
}

.header__auth {
  margin: auto 0;
}

.header__auth button {
  border: none;
  font-weight: 500;
  font-size: 16px;
  border-radius: 3px;
  text-transform: uppercase;
}

.header__auth button.reg {
  background-color: #FFE279;
  color: #444444;
  padding: 5px 10px;
  margin-right: 30px;
}

.header__auth button.login {
  background-color: #202124;
  border: 1px solid #888686;
  color: white;
  padding: 5px 10px;
}

.stats {
  margin-top: 63px;
  background-color: #2D2E32;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.stats__content {
  width: auto;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.stats__content__item {
  padding: 17px 0;
  margin-right: 120px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.stats__content__item p {
  margin: 0;
  font-weight: 500;
  font-size: 34px;
  color: white;
}

.stats__content__item p.description {
  color: #FFE279;
  text-shadow: 0 0 7px #FFE279;
  font-size: 22px;
}

.stats__content__item p.title {
  opacity: 0;
  -webkit-transition: 2s;
  -o-transition: 2s;
  transition: 2s;
}

.stats__content__item p.title.active {
  opacity: 100%;
}

.stats__content__item:last-child {
  margin-right: 0;
}

.vk {
  opacity: 0%;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
  border-radius: 3px;
  z-index: 2;
  position: -webkit-sticky;
  position: sticky;
  top: 87px;
  height: 425px;
  margin-left: 20px;
}

.vk.active {
  opacity: 100%;
}

.main {
  background-color: #202124;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .bg {
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 680px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(32, 33, 36, 0.2)), to(rgba(32, 33, 36, 0.5))), url(../img/bg6.webp) center/100% no-repeat fixed;
  background: -o-linear-gradient(rgba(32, 33, 36, 0.2), rgba(32, 33, 36, 0.5)), url(../img/bg6.webp) center/100% no-repeat fixed;
  background: linear-gradient(rgba(32, 33, 36, 0.2), rgba(32, 33, 36, 0.5)), url(../img/bg6.webp) center/100% no-repeat fixed;
}

.main .content {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
  margin-left: auto;
  margin-right: auto;
}

.duels {
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.more-duels {
  -webkit-animation-duration: 1.5s;
          animation-duration: 1.5s;
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
  margin: 14px auto;
  background-color: #2D2E32;
  width: 744px;
  text-align: center;
  border-radius: 3px;
  font-weight: 500;
}

.more-duels a {
  color: #71717A;
  text-decoration: none;
  padding: 13px 0;
  display: block;
}

.duel1 {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
  background-color: #2D2E32;
  width: 775px;
  height: 575px;
  border-radius: 3px;
}

.duel1__title {
  padding-top: 12px;
  margin: 0 0 34px;
  text-align: center;
}

.duel1__title p {
  color: #FFE279;
  text-transform: uppercase;
  text-shadow: 0 0 7px #FFE279;
  font-weight: 500;
  font-size: 30px;
}

.duel1__table table img {
  width: 40px;
  height: 40px;
}

.duel2 {
  margin-top: 28px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.duel2__item {
  -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
          box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, #424242 0px 0px 0px 3px;
  width: 377px;
  height: 500px;
  background-color: #2D2F32;
  border-radius: 3px;
}

.duel2__item__title {
  color: #FFE279;
  text-shadow: 0 0 7px #FFE279;
  font-weight: 700;
  font-size: 24px;
  padding-top: 12px;
  margin-bottom: 11px;
  text-align: center;
}

.duel2__item__table table {
  font-size: 16px;
}

.duel2__item__table table img {
  width: 34px;
  height: 34px;
}

footer {
  background-color: #202124;
}

footer .footer__title {
  padding-top: 50px;
  text-align: center;
}

footer .footer__title p {
  text-transform: uppercase;
  color: #FFE279;
  letter-spacing: 0.065em;
  font-weight: 400;
  font-size: 50px;
}

footer .footer__title button {
  border: none;
  border-radius: 6px;
  background-color: #FFE279;
  color: #444444;
  padding: 8px 12px;
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 25px;
  margin-bottom: 50px;
}

footer .footer__pay-methods {
  background-color: #18191B;
  width: 100%;
}

footer .footer__pay-methods__content {
  margin: auto;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 14px 0;
}

footer .footer__pay-methods__content .image {
  position: relative;
}

footer .footer__pay-methods__content .image img {
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: 50% 50%;
     object-position: 50% 50%;
}

footer .footer__last {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 97%;
  margin: auto;
  padding: 22px 0;
}

footer .footer__last p {
  color: #878785;
}

footer .footer__last p span {
  color: #FFC700;
}

footer .footer__last__nav a {
  margin-right: 20px;
  text-transform: uppercase;
  font-size: 12px;
}

footer .footer__last__nav a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1537px) {
  .stats__content__item p.description {
    font-size: 18px;
  }
}

@media screen and (max-width: 1366px) {
  .vk {
    display: none;
  }
}

@media screen and (max-width: 1200px) {
  .stats__content__item p {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  table {
    font-size: 16px;
  }

  .header {
    max-width: 95%;
  }

  .header__logo {
    font-size: 20px;
  }

  .header__auth {
    display: none;
  }

  .stats {
    display: none;
  }

  .main {
    margin-top: 62px;
  }

  .main .bg {
    display: none;
  }

  .more-duels {
    width: 300px;
    display: none;
  }

  .more-duels.mobile {
    display: block;
  }

  .duel1 {
    width: 80%;
    height: 400px;
    margin: 0 auto;
  }

  .duel1__title p {
    font-size: 24px;
  }

  .duel1__table table img {
    width: 34px;
    height: 34px;
  }

  .duel2 {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-top: 0;
  }

  .duel2__item {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    margin-top: 20px;
  }

  .duel2__item__title {
    font-weight: 500;
    text-transform: uppercase;
  }

  footer .footer__pay-methods {
    display: none;
  }

  footer .footer__last p {
    font-size: 14px;
    margin: auto;
  }

  footer .footer__last__nav {
    display: none;
  }
}

@media only screen and (max-width: 414px) {
  footer .footer__title p {
    font-size: 40px;
  }
}

@media only screen and (max-width: 375px) {
  footer .footer__title p {
    font-size: 35px;
  }

  footer .footer__title button {
    font-size: 16px;
    padding: 6px 6px;
  }
}

@media only screen and (max-width: 320px) {
  table {
    font-size: 14px;
  }

  table tr th:first-child p {
    margin-left: 5px;
  }

  table tr th:last-child p {
    margin-right: 5px;
  }

  table tr td:first-child {
    margin-left: 5px;
  }

  table tr td:last-child img {
    margin-right: 5px;
  }

  .more-duels {
    width: 200px;
  }

  .more-duels a {
    padding: 8px 0;
  }

  .duel1 {
    width: 80%;
    height: 300px;
    margin: 0 auto;
  }

  .duel1__title p {
    font-size: 22px;
  }

  .duel1__table table img {
    width: 30px;
    height: 30px;
  }

  .duel2__item {
    height: 300px;
  }

  .duel2__item__title {
    font-size: 22px;
  }

  .duel2__item__table table {
    font-size: 14px;
  }

  .duel2__item__table table img {
    width: 30px;
    height: 30px;
  }

  footer .footer__title p {
    font-size: 30px;
  }

  footer .footer__last p {
    font-size: 12px;
  }
}